body {
  font-family: "Muli", sans-serif;
}

.eventCampaignDiv {
  padding: 5px !important;
}

.campaignMembers {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.avatar {
  background-size: cover;
  width: 20px;
  height: 20px;
  background-position: top center;
  border-radius: 50%;
  margin-right: 5px;
}
